@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --main-color: #fcf8f3;
  --light-pink: #ffaaa5;
  --light-orange: #ffd3b6;
  --light-green: #698474;
  --deep-grey: #323232;
  --deep-pink: #fe346e;
  --deep-orange: #ff896b;
}

html {
  height: 100%;
}

body {
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.home-main-container {
  background: url("./bg/main-bg.jpg") no-repeat center/cover;
  height: 100vh;
}

